#!/bin/bash

pacman_packages=({{ range .packages.pacman -}} {{ . | quote }} {{ end }})
echo "Installing packages: ${pacman_packages[*]}"
sudo pacman -S --needed ${pacman_packages[*]}

aur_packages=({{ range .packages.aur -}} {{ . | quote }} {{ end }})
echo "Installing AUR packages: ${aur_packages[*]}"
yay -S --needed ${aur_packages[*]}
